<ion-header>
    <ion-navbar>

        <ion-title>
            YouTube Search Download
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar (keypress)="keyPress($event)" placeholder="Procure por artista ou música" [formControl]="search" (ionClear)="fecharBusca()"> </ion-searchbar>

    <div *ngIf="item">
        <ion-item *ngFor="let video of results | async" (click)="selecionarVideo(video)">
            <ion-label>{{video.snippet.title}}</ion-label>
        </ion-item>
    </div>

    <ion-content class="cards-bg">
        <ion-card>
            <iframe width="100%" frameborder="0" height="185" [src]="('https://www.youtube.com/embed/' + _video.player) | safe"></iframe>
            <ion-card-content>
                <ion-card-title>
                    {{_video.titulo}}
                </ion-card-title>
                <p>
                    {{_video.descricao}}
                </p>
            </ion-card-content>
            <ion-row no-padding>
                <ion-col text-center>
                    <button ion-button icon-start full color="danger" (click)="download()">
                        <ion-icon name="musical-notes"></ion-icon>
                        Download MP4
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-content>
</ion-content>