<ion-header>
    <ion-navbar>
        <ion-title>
            YouTube Search Download
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-searchbar placeholder="Procure por artista ou música" [formControl]="search" > </ion-searchbar>
    <ion-item *ngFor="let video of results | async" (click)="selectedItem(video)">
            <ion-label>{{video.snippet.title}}</ion-label>
    </ion-item>
    <!-- <ion-content class="cards-bg">
        <ion-card *ngFor="let video of results | async">
            <img src="{{video.snippet.thumbnails.high.url}}" />
            <iframe width="100%" frameborder="0" height="150" [src]="('https://www.youtube.com/embed/' + video.id.videoId) | safe"></iframe>
            
            <ion-card-content>
                <ion-card-title>
                    {{video.snippet.title}}
                </ion-card-title>
                <p>
                    The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                </p>
            </ion-card-content>
            <ion-row no-padding>
                <ion-col>
                    <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='star'></ion-icon>
                        Vídeo          
                    </button>
                    <button ion-button icon-start round>
                        <ion-icon name="star"></ion-icon>
                        Vídeo
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='musical-notes'></ion-icon>
                        MP4          
                    </button>
                    <button ion-button icon-start round>
                        <ion-icon name="musical-notes"></ion-icon>
                        MP4
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-content> -->
</ion-content>